%article.no-padding
  .row.no-space
    .col.s5.center-align
      = link_to artist_path(artist) do
        %img.responsive{src: artist.image_link, style: 'max-height: 265px !important;'}
    .col.s7
      = link_to artist_path(artist) do
        .padding
          %p.bold.large-text= artist.name
          %p.s= artist.description.truncate(90)
          %p.m= artist.description.truncate(320)
          %p.l= artist.description.truncate(900)
    -# - if current_user.present? && current_user.admin?
    -#   = link_to edit_artist_path(artist), style: 'position: absolute; right: 5px;' do
    -#     %i edit
    -# - if artist.wiki_link.present?
    -#   = link_to artist.wiki_link, target: '_blank', style: 'position: absolute; right: 5px; bottom: 5px;' do
    -#     %i info_outline
