= form_for artist, html: { "data-turbo": "false" } do |f|
  .row
    .col.s12
      - if artist.errors.any?
        #error_explanation
          %ul
            - artist.errors.full_messages.each do |message|
              %li= message
  .row
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :name
        = f.label :name
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :description
        = f.label :description
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :image_link
        = f.label :image_link
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :wiki_link
        = f.label :wiki_link
  .row.mt-0
    .col.s12.center-align
      %button.small-elevate{type: 'submit'}
        %i save
        %span= t('save')
