= turbo_frame_tag nft do
  .user-nfts
    .row
      .col.s12.center-align
        %h1.page-title= nft.name.gsub('vs.', '&')
    .row.mt-0.s
      .col.s6.center-align
        = link_to 'javascript:;' do
          %img.responsive{src: nft.artist.image_link, style: 'max-height: 200px !important;'}
      .col.s6.center-align
        = link_to 'javascript:;' do
          %img.responsive{src: nft.painting.image_link, style: 'max-height: 200px !important;'}
    .row{style: 'display: flex;'}
      .col.m.m4.l.center-align.middle-align
        = link_to 'javascript:;' do
          %img.responsive{src: nft.artist.image_link, style: 'max-height: 200px !important;'}
      .col.s12.m3.center-align.middle-align
        %img.responsive{src: nft.image_link, width: '265px', style: 'max-height: 265px !important;'}
      .col.m.m4.l.center-align.middle-align
        = link_to 'javascript:;' do
          %img.responsive{src: nft.painting.image_link, style: 'max-height: 200px !important;'}
    .row.mt-0
      .col.s12
        .padding
          %p= nft.description
