%turbo-frame#user-nfts
  .user-nfts
    .row
      .col.s12.center-align
        %h1.page-title= 'My Dead Artist NFTs'

    .row
      - if @userNfts.any?
        - userNfts_count = @userNfts.count
        #user-nfts-data{data: {ctr: userNfts_count, ids: @userNfts.map{|nft| nft.ipfs_token_id}}}
        - @userNfts.each do |nft|
          .col.s6.m4.center-align{class: "#{userNfts_count == 1 ? 's12 m12' : ''} #{userNfts_count == 2 ? 's6 m6' : ''}"}
            = link_to user_nft_path(nft), data: { turbo_frame: "nft_#{nft.id}" }, onclick: "ui('#user-nft-modal-#{nft.id}');" do
              %img.responsive{src: nft.image_link, width: '265px', style: 'max-height: 265px !important;'}

            .modal{id: "user-nft-modal-#{nft.id}", style: 'border-radius: 12rem;'}
              .modal-content{style: 'position: relative;'}
                = turbo_frame_tag nft

      - else
        %p No nfts found...
