= form_for painting, html: { "data-turbo": "false" } do |f|
  .row
    .col.s12
      - if painting.errors.any?
        #error_explanation
          %ul
            - painting.errors.full_messages.each do |message|
              %li= message
  .row
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :name
        = f.label :name
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :description
        = f.label :description
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :image_link
        = f.label :image_link
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.text_field :wiki_link
        = f.label :wiki_link
  .row.mt-0
    .col.s12
      .field.label.border{style: 'margin-bottom: 0px;'}
        = f.select :artist_id, Artist.all.collect {|a| [ a.name, a.id ] }, {include_blank: ''}
        = f.label :artist_id, 'Artist'
  .row.mt-0
    .col.s12.center-align
      %button.small-elevate{type: 'submit'}
        %i save
        %span= t('save')
