- set_meta_tags description: meta_tag_description('NFTs')
.nfts
  .row
    .col.s12.center-align
      %h1.nfts-text-title= 'NFT Database'

  .row
    .col.s12.center-align
      .field.suffix.border{style: 'margin-bottom: 5px;'}
        %select#select-artist{autocomplete: "off", placeholder: "Search for an artist...", data: { controller: 'tom-select', resource: 'artists' }}
          %option{value: ""} Search for an artist...
          - @artists.each do |artist|
            %option{value: artist.id.to_s, selected: (params[:artist_id] == artist.id.to_s)}= artist.name

      .field.suffix.border
        %select#select-painting{autocomplete: "off", placeholder: "Search for a painting...", data: { controller: 'tom-select', resource: 'paintings' }}
          %option{value: ""} Search for a painting...
          - @paintings.each do |painting|
            %option{value: painting.id.to_s, selected: (params[:painting_id] == painting.id.to_s)}= painting.name

  -# - if params[:artist_id].present? || params[:painting_id].present?
  -#   .row.mt-0
  -#     .col.s12.center-align{style: 'margin-top: -30px;'}
  -#       = link_to nfts_path do
  -#         %button.border.round.small
  -#           %span Reset filter

  %turbo-frame#database-view
    .row
      - if @nfts.any?
        - @nfts.each do |nft|
          .col.s6.m4.center-align{class: "#{@nfts.count == 1 ? 's12 m12' : ''} #{@nfts.count == 2 ? 's6 m6' : ''}"}
            = link_to nft_path(nft) do
              %img.responsive{src: nft.image_link + '=w265', style: 'max-height: 265px !important;'}
      - else
        %p No nfts found...

  - if current_user.present? && current_user.admin?
    .row
      .col.s12.center-align
        = link_to new_nft_path do
          %i add_circle_outline
