- set_meta_tags description: meta_tag_description('NFTs')
.nfts
  .row
    .col.s12.center-align
      %h1.page-title= 'NFT Database'

  .row
    .col.s12.center-align
      .field.suffix.border
        %select#select-artist-or-painting{autocomplete: "off", placeholder: "Search for an artist or painting...", data: { controller: 'tom-select', resource: 'artist_or_painting' }}
          %option{value: ""} Search for an artist or painting...
          - @artists.each do |artist|
            %option{value: 'artist_'+artist.id.to_s, selected: (params[:artist_id] == artist.id.to_s)}= artist.name
          - @paintings.each do |painting|
            %option{value: 'painting_'+painting.id.to_s, selected: (params[:painting_id] == painting.id.to_s)}= painting.name


  %turbo-frame#database-view
    .row
      - if @nfts.any?
        - nfts_count = @nfts.count
        - @nfts.each do |nft|
          .col.s6.m4.center-align{class: "#{nfts_count == 1 ? 's12 m12' : ''} #{nfts_count == 2 ? 's6 m6' : ''}"}
            = link_to nft_path(nft, page: params[:page]) do
              %img.responsive{src: nft.image_link_low_quali, width: '265px', style: 'max-height: 265px !important;'}
              -# %img.responsive{src: nft.image_link_low_quali, width: '265px', style: 'max-height: 265px !important; z-index: 1;'}
              -# = image_tag 'placeholder.jpg', width: '265px', height: '265px', alt: 'Placeholder Dead Artists NFT', class: 'responsive', style: 'position: absolute;'

        .col.s12
          = render 'paginator', nfts: @nfts
      - else
        .col.s12.center-align
          %p No NFTs found...

  - if current_user.present? && current_user.admin?
    .row
      .col.s12.center-align
        = link_to new_nft_path do
          %i add_circle_outline
