.home
  .row
    .col.s12.center-align
      = video_tag 'home_title.mp4', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, id: 'home-title-video'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align{style: 'margin-top: -40rem;'}
      %p.home-text-paragraph
        Yes, you should without a doubt own your personal Van Gogh, Picasso or Da Vinci!
        -#blup Yeah, you should absolutely own your personal Van Gogh, Picasso or Da Vinci!

  .row
    .col.s4.center-align
      .artist-frame
        = image_tag 'vincent_van_gogh.gif'
    .col.s4.center-align
      .artist-frame
        = image_tag 'pablo_picasso.gif'
    .col.s4.center-align
      .artist-frame
        = image_tag 'leonardo_da_vinci.gif'

  .row
    .col.s12.center-align
      %p.home-text-paragraph
        Thanks to Dead Artists AI its possible with just a click on the Minting button:

  .row
    .col.s12.center-align
      -# blup: dark theme
      %iframe{src: "https://gateway.ipfscdn.io/ipfs/QmUfp6thZQTmNKS6tzijJpxdoBe9X7spHwzRjUh3RPTAwF/signature-drop.html?contract=0x8023Be605B9b9f45Bfda56E29c31e4DE5B58eE87&chainId=5", width: "600px", height: "600px", style: "max-width:100%;", frameborder: "0"}

  .row.title-row#How-it-Works
    .col.s12.center-align
      %span.home-text-title= 'How it Works'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align{style: 'margin-top: -25px;'}
      = video_tag 'how_it_works.mp4', controls: false, muted: true, loop: false, tabindex: "-1", autoplay: false, id: 'how-it-works-video', onclick: "this.pause(); document.getElementById('play-svg').style.display = 'block';", width: '100%;'
      = image_tag 'play.svg', id: 'play-svg', width: '50%', onclick: "this.style.display = 'none'; document.getElementById('how-it-works-video').play();"

  .row.title-row#The-Community
    .col.s12.center-align
      %span.home-text-title= 'The Community'

  .row{style: 'margin-top: 0;'}
    .col.s6.left-align
      %p.home-text-paragraph
        The Dead Artists community gets frequent project updates on Twitter and Discord.
      %p.home-text-paragraph.m.l
        We will give you a platform to talk about your favorite Paintings, Artists or NFTs.
      %p.home-text-paragraph.l
        Join our Discord and get in touch with the Team.
    .col.s6.center-align
      = image_tag 'community_image.webp', width: '100%', style: 'max-width: 428px !important;'

  .row{style: 'margin-top: 0;'}
    .col.m.m2.l.l3
    .col.s6.m4.l3.center-align
      = link_to 'https://twitter.com/DeadArtistsAI', target: '_blank', class: 'social-media-button' do
        = image_tag 'twitter_logo.webp'
    .col.s6.m4.l3.center-align
      = link_to 'https://discord.gg/JN9Rhxmhgv', target: '_blank', class: 'social-media-button' do
        = image_tag 'discord_logo.webp'
    .col.m.m2.l.l3

  .row.title-row#The-Dead-Artists-AI-Club
    .col.s12.center-align
      %span.home-text-title= 'The Club'

  .row{style: 'margin-top: 0;'}
    .col.s6.m8.left-align
      %p.home-text-paragraph
        The Dead Artists NFT is the key to an exclusive art club with many benefits.
      %p.home-text-paragraph
        Join the club by .... blup
      %p.home-text-paragraph
        You will be the first to get informed about cooperations and get whitelists from other interesting art related projects, exclusively selected by the Dead Artists AI team.
    .col.s6.m4.center-align
      = image_tag 'club_image.webp', width: '100%', style: 'max-height: 361px !important; max-width: 241px !important;'

  .row.title-row#The-Artist-Database
    .col.s12.center-align
      %span.home-text-title= 'The Database'

  .row{style: 'margin-top: 0;'}
    .col.s8.l9.left-align
      %p.home-text-paragraph
        In the database you can find all paintings and their respective artist that became a Dead Artists NFT.
      %p.home-text-paragraph
      .row
        .col.s12.center-align{style: 'margin-top: 20px;'}
          = link_to paintings_path do
            %button.border.round.large
              %span Click to go to the database
              = image_tag 'database.svg', class: 'color-default'
      .row.middle-align
        .col.s4.center-align
          = image_tag 'pablo_picasso2.webp', width: '100%', style: 'max-width: 202px !important;'
        .col.s8.left-align
          %p.home-text-paragraph{style: 'font-style: italic; font-family: playfair display,serif; letter-spacing: 0em;'}
            “Art washes away from the soul the dust of everyday life.”
            %br
            ― Pablo Picasso
    .col.s4.l3.center-align
      = image_tag 'artist_database_image_right.jpg', width: '100%'

  .row.title-row#The-Team
    .col.s12.center-align
      %span.home-text-title= 'The Team'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align
      = image_tag 'the_team.jpg', width: '100%'
