.home
  .row
    .col.s12.center-align
      = video_tag 'home_title.mp4', preload: 'auto', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, id: 'home-title-video'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align{style: 'margin-top: -40rem;'}
      %p.home-text-paragraph
        Yeah, you should absolutely own your personal Van Gogh, Picasso or DaVinci!

  .row
    .col.s4.center-align
      .artist-frame
        = image_tag 'vincent_van_gogh.gif'
    .col.s4.center-align
      .artist-frame
        = image_tag 'pablo_picasso.gif'
    .col.s4.center-align
      .artist-frame
        = image_tag 'leonardo_da_vinci.gif'

  .row
    .col.s12.center-align
      %p.home-text-paragraph
        Thanks to our AI its possible with just a click on the Minting button

  -# .row
  -#   .col.s12.center-align
  -#     %iframe{src: "https://gateway.ipfscdn.io/ipfs/QmUfp6thZQTmNKS6tzijJpxdoBe9X7spHwzRjUh3RPTAwF/signature-drop.html?contract=0x8023Be605B9b9f45Bfda56E29c31e4DE5B58eE87&amp;chainId=5", style: "max-width:100%;", width: "100%", height: "fit-content", frameborder: "0"}

  .row
    .col.s12.center-align
      %span.faq-title= 'FAQs'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align
      = render 'Q&A', question: "How many DeadArtists NFT can be minted?", answer: 'A maximum of 5000 NFT at a price of 0.02 ETH each'
      .small-divider
      = render 'Q&A', question: 'How often can a painting occur?', answer: 'Each painting of an artist can only occur once as DeadArtists NFT! This also ensures the conservation of value'
      .small-divider{style: 'margin-top: 0;'}
      = render 'Q&A', question: 'What intellectual property rights do holders have?', answer: 'Owners of DeadArtists NFT have full commercial art rights for the NFT they own'
      .small-divider{style: 'margin-top: 0;'}
      = render 'Q&A', question: 'What are the funds being used for?', answer: '100% of proceeds go directly to DeadArtists-AI holding.<br>This funding will be used to expand our team, launch new products and to create additional value for our community'
      .small-divider{style: 'margin-top: 0;'}
      = render 'Q&A', question: 'Do you have a roadmap?', answer: 'Sure, just scroll a little bit further'
      .small-divider{style: 'margin-top: 0;'}
      = render 'Q&A', question: 'How are the 5000 DeadArtists NFT distributed?', answer: '3800: Public sale<br>1000: DeadArtists Collector Members<br>200: DeadArtists-AI wallet for future airdrops, collaborations, marketing and advisors'
      .small-divider{style: 'margin-top: 0;'}
      = render 'Q&A', question: 'What rarity grade can a DeadArtists NFT have?', answer: 'Common<br>Uncommon<br>Rare<br>Epic<br>Legendary'
      .small-divider{style: 'margin-top: 0;'}

  .row
    .col.s12.center-align
      %span.faq-title= 'Roadmap'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align
      = image_tag 'roadmap.jpg', width: '100%'

  .row
    .col.s12.center-align
      %span.faq-title= 'How it Works'

  .row{style: 'margin-top: 0;'}
    .col.s12.center-align{style: 'margin-top: -25px;'}
      = video_tag 'how_it_works.mp4', preload: 'auto', controls: false, muted: true, loop: false, tabindex: "-1", autoplay: false, id: 'how-it-works-video', onclick: "this.pause(); document.getElementById('play-svg').style.display = 'block';", width: '100%;'
      = image_tag 'play.svg', id: 'play-svg', width: '50%', onclick: "this.style.display = 'none'; document.getElementById('how-it-works-video').play();"

  .row
    .col.s12.center-align
      %span.faq-title= 'The Community'

  .row{style: 'margin-top: 0;'}
    .col.s6.center-align
      %p
        The DeadArtists community gets frequent updates about the project on Discord, Instagram and Twitter.
    .col.s6.center-align
      = image_tag 'community_image.webp', width: '100%'

  .row{style: 'margin-top: 0;'}
    .col.s0.m2.l3
    .col.s6.m4.l3.center-align
      = link_to 'https://twitter.com/DeadArtistsAI', target: '_blank', class: 'social-media-button' do
        = image_tag 'twitter_logo.webp'
    .col.s6.m4.l3.center-align
      = link_to 'https://discord.gg/JN9Rhxmhgv', target: '_blank', class: 'social-media-button' do
        = image_tag 'discord_logo.webp'
    .col.s0.m2.l3

  .row
    .col.s12.center-align
      %span.faq-title= 'The DeadArtists-AI Club'

  .row{style: 'margin-top: 0;'}
    .col.s6.center-align
      %p
        The DeadArtists NFT is the key to an exclusive art club with many benefits.
      %p
        As a holder YOU can decide which dead artist or painting will become the next DeadArtists NFT.
        %br
        You will be the first to get informed about cooperations and get whitelists from other interesting art related projects, exclusively selected by the DeadArtists-AI team.

    .col.s6.center-align
      = image_tag 'club_image.webp', width: '100%'
