.home
  .row
    .col.s12.center-align
      = video_tag 'home_title.mp4', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, id: 'home-title-video'
  -# .row.mt-0
  -#   .col.s12.center-align{style: 'margin-top: -40rem;'}
  -#     %p.home-text-paragraph
  -#       -# Yeah, you should absolutely own your personal Van Gogh, Picasso or Da Vinci!
  -#       -# Yes, you should without a doubt own your personal Van Gogh, Picasso or Da Vinci!
  -#       -# Yes, you should definitely own your personal Van Gogh, Picasso or Da Vinci!
  -#       Yes, you should definitely own a Van Gogh, Picasso or Da Vinci!
  -# blup
  .row.mt-0
    .col.s12.center-align{style: 'margin-top: -40rem;'}
      %p.home-text-paragraph{style: 'font-family: CarterOne; transform: rotate(-1deg); font-size: 26px;'}
        Yes, you should definitely own a Van Gogh, Picasso or Da Vinci for yourself!


  .row
    .col.s4.center-align
      .artist-frame
        = image_tag 'vincent_van_gogh.gif'
    .col.s4.center-align
      .artist-frame
        = image_tag 'pablo_picasso.gif'
    .col.s4.center-align
      .artist-frame
        = image_tag 'leonardo_da_vinci.gif'

  .row
    .col.s12.center-align
      %p.home-text-paragraph
        Thanks to Dead Artists AI its possible to obtain a limited number of the 5000 unique artworks:
  .row
    .col.s12.center-align
      = link_to mint_path do
        %button.round.large
          %span Click here to go to the Mint page
          %i auto_awesome

  .row
    .col.s12.center-align
      = render 'text_band', text: '5000 unique NFTs as GIFs • Over 250 different Artists • 20 Movements • Unlockable content'

  .row.title-row#How-it-Works
    .col.s12.center-align
      %span.home-text-title= 'How it Works'
  .row.mt-0
    .col.s12.center-align{style: 'margin-top: -10px;'}
      = video_tag 'how_it_works.mp4', controls: false, muted: true, loop: false, tabindex: "-1", autoplay: false, id: 'how-it-works-video', onclick: "this.pause(); document.getElementById('play-svg').style.display = 'block';", width: '100%;'
      = image_tag 'play.svg', id: 'play-svg', width: '50%', onclick: "this.style.display = 'none'; document.getElementById('how-it-works-video').play();"

  .row
    .col.s12.center-align
      = render 'text_band', text: 'Claude Monet • Gustav Klimt • Edvard Munch • Pablo Picasso • Francis Bacon • Willem de Kooning • Vincent van Gogh • Andy Warhol • Leonora Carrington • Alla Horska • Cy Twombly • Leonardo da Vinci • Hilma af Klint • Wassily Kandinsky • Henri Matisse • Salvador Dali'

  .row.title-row#The-Community
    .col.s12.center-align
      %span.home-text-title= 'The Community'
  .row.mt-0
    .col.s6.left-align
      %p.home-text-paragraph
        The Dead Artists community gets frequent project updates on Twitter and Discord.
      %p.home-text-paragraph.m.l
        We will give you a platform to talk about your favorite paintings, artists or NFTs.
      %p.home-text-paragraph.l
        Join our Discord and get in touch with the team.
    .col.s6.center-align
      = image_tag 'community_image.webp', width: '100%', style: 'max-width: 428px !important;'
  .row.mt-0
    .col.m.m2.l.l3
    .col.s6.m4.l3.center-align
      = link_to 'https://twitter.com/DeadArtistsAI', target: '_blank', class: 'social-media-button' do
        = image_tag 'twitter_logo.webp'
    .col.s6.m4.l3.center-align
      = link_to 'https://discord.gg/JN9Rhxmhgv', target: '_blank', class: 'social-media-button' do
        = image_tag 'discord_logo.webp'
    .col.m.m2.l.l3

  .row
    .col.s12.center-align
      = render 'text_band', text: nil

  .row.title-row#The-Dead-Artists-AI-Club
    .col.s12.center-align
      %span.home-text-title= 'The Club'
  .row.mt-0
    .col.s6.m8.left-align
      %p.home-text-paragraph
        The Dead Artists NFT is the key to an exclusive art club with many benefits.
      %p.home-text-paragraph
        Join the club by verifying yourself as a NFT collector in Discord.
      %p.home-text-paragraph
        You will be the first to get informed about cooperations and get whitelists from other interesting art related projects, exclusively selected by the Dead Artists AI team.
    .col.s6.m4.center-align
      = image_tag 'club_image.webp', width: '100%', style: 'max-height: 361px !important; max-width: 241px !important;'

  .row
    .col.s12.center-align
      = render 'text_band', text: nil

  .row.title-row#The-Artist-Database
    .col.s12.center-align
      %span.home-text-title= 'The Database'
  .row.mt-0
    .col.s8.m7.l8.left-align
      %p.home-text-paragraph
        In the database you can find all Dead Artist NFT and their respective artist & painting they're are based on.
      %p.home-text-paragraph
        Use the search fields if you would like to find the NFT of your favorite artist or painting.
      %p.home-text-paragraph
      .row.m.l
        .col.s12.center-align{style: 'margin-top: 20px;'}
          = link_to nfts_path do
            %button.border.round.large
              %span Click here to go to the database
              %i filter
      .row.middle-align
        .col.s4.center-align
          = image_tag 'pablo_picasso2.webp', width: '100%', style: 'max-width: 202px !important;'
        .col.s8.left-align
          %p.home-text-paragraph{style: 'font-style: italic; font-family: playfair display,serif; letter-spacing: 0em;'}
            “Art washes away from the soul the dust of everyday life.”
            %br
            ― Pablo Picasso
    .col.s.s4.center-align.middle-align
      = image_tag 'artist_database_image_right.jpg', width: '100%'
    .col.m.m5.l.l4.center-align.middle-align
      = image_tag 'artist_database_image_right.png', width: '100%'
  .row.mt-0.s
    .col.s12.center-align
      = link_to nfts_path do
        %button.border.round.large
          %span Click here to go to the database
          %i filter

  .row
    .col.s12.center-align
      = render 'text_band', text: nil

  .row.title-row#The-Team
    .col.s12.center-align
      %span.home-text-title= 'The Team'
  .row.mt-0
    .col.s12.center-align
      = image_tag 'the_team.jpg', width: '100%'
