.welcome
  .row
    .col.s12.center-align
      = image_tag 'profile_pic.webp', class: 'profile_pic', alt: 'Dead Artists AI profile picture'

    .col.s12.center-align{style: 'margin-top: -10rem;'}
      %span.text-below-profile-pic= 'Art by Artificial Intelligence'

  .row.mt-0
    .col.s12.center-align
      .welcome-text-title= 'Welcome to Dead Artists AI'

  .row.mt-0{data: { controller: 'welcome' }}
    .col.s12.center-align
      .picasso-frame#visible-picasso-frame.center-align{data: { action: "click->welcome#start_picasso_frame" }}
        = image_tag 'pablo_picasso.webp', alt: 'Pablo Picasso image'
        %span.picasso-frame-text#picasso-frame-text1= 'Click me to turn me into a moving artwork'
        %span.picasso-frame-text#picasso-frame-text2= 'TRY IT!'
      .picasso-frame#hidden-picasso-frame{data: { action: "click->welcome#stop_picasso_frame" }}
        = video_tag 'pablo_picasso.mp4', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: false

    #enter-arrows{style: 'display: none;'}
    .col.s12.center-align
      = link_to 'ENTER', '#', {id: 'brush-stroke', data: { action: 'click->welcome#enter' } }

  .row
    .col.s12.center-align.welcome-text-paragraph-col
      %p.welcome-text-paragraph
        We bring dead artists back to life and let them join Web3
    .col.s12.center-align{style: 'padding: 0;'}
      %p.welcome-text-paragraph
        Follow us for updates

  .row.mt-0
    .col.s12.welcome-social-media-buttons
      .row
        .col.m.m2.l.l3
        .col.s6.m4.l3.center-align
          = link_to 'https://twitter.com/DeadArtistsAI', target: '_blank', class: 'social-media-button' do
            = image_tag 'twitter_logo.webp', width: '150px', alt: 'twitter logo'
        .col.s6.m4.l3.center-align
          = link_to 'https://discord.gg/JN9Rhxmhgv', target: '_blank', class: 'social-media-button' do
            = image_tag 'discord_logo.webp', width: '150px', alt: 'discord logo'
        .col.m.m2.l.l3
