%h2.center-align{style: 'margin-top: 15px; margin-bottom: 15px;'}
  = t('contacts.title')

- @contacts.each_with_index do |contact, i|
  = render 'form', contact: contact, index: i+1

- if @index + 1 <= 5
  = turbo_frame_tag "new_contact_#{@index + 1}" do
    .row
      .col.s12.center-align
        = form_with url: new_contact_path, method: :get do |f|
          = hidden_field_tag :index, @index + 1
          %button.circle.small-elevate.large{type: 'submit'}
            %i add

-#blup: use a js controller for this and call it on the selectors
:javascript
  // show either phone_number or email depending on the selected call_type
  document.querySelectorAll('form').forEach(form => {
    form.querySelector('select').addEventListener('change', e => {
      select = e.target;
      phone_number_field = form.querySelector('#contact_phone_number').closest('.col');
      email_field = form.querySelector('#contact_email').closest('.col');
      if (select.options[select.selectedIndex].value === 'email') {
        phone_number_field.style.display = "none";
        email_field.style.display = "block";
      } else {
        phone_number_field.style.display = "block";
        email_field.style.display = "none";
      }
    })
  })
