= turbo_frame_tag "new_contact_#{@index}" do
  = render 'form', contact: @contact, index: @index

  - if @index + 1 <= 5
    = turbo_frame_tag "new_contact_#{@index+1}" do
      .row
        .col.s12.center-align
          = form_with url: new_contact_path, method: :get do |f|
            = hidden_field_tag :index, @index + 1
            %button.circle.small-elevate.large{type: 'submit'}
              %i add
