- set_meta_tags description: meta_tag_description('Mint')
.mint{data: { controller: "mint" }}
  .row.title-row#Mint
    .col.s12.center-align
      %h1.page-title= 'Mint Dead Artist NFT'

  .row
    .col.s12.center-align
      .random-nft-and-placeholder{style: 'display: flex; justify-content: center;'}
        %turbo-frame#random-nft{style: 'z-index: 1;'}
          = link_to '#', disabled: true, data: { action: "click->mint#resetRandomNftInterval" } do
            = image_tag @randomNft&.image_link.to_s, width: '265px', height: '265px', alt: ''
        = image_tag 'placeholder.jpg', width: '265px', height: '265px', alt: 'Placeholder Dead Artist NFT', style: 'position: absolute;'
    .col.s12.center-align{style: 'padding-top: 0;'}
      %span (Note: A random Dead Artist NFT will be minted)

  .row
    .col.s12.center-align{data: { controller: "wallet" }}
      -# connect wallet button
      %button.round.large#connect-wallet-button{data: { action: "click->wallet#connect_wallet" }}
        %span Connect your Wallet
        = image_tag 'metamask_fox.svg', width: '20px', alt: 'Metamask fox icon'
      -# wallet connected button
      %button.round.large#wallet-connected-button{disabled: true, style: 'display: none;'}
        %span
        = image_tag 'metamask_fox.svg', width: '20px', alt: 'Metamask fox icon'
      -# download metamask button
      = link_to 'https://metamask.io/download.html', target: '_blank', class: 'color-default', id: 'download-metamask-button', style: 'display: none;' do
        %button.round.large
          %span No Wallet found -> Go get MetaMask!
          = image_tag 'metamask_fox.svg', width: '20px', alt: 'Metamask fox icon'

  .row#wallet-connected{style: 'display: none;'}
    .col.s12.center-align
      .row
        .col.s12.center-align
          .number-of-mints
            %strong Minted:
            %span#user-number-of-mints ?
            %span /
            %span#max-number-of-mints ?
          .balance
            %strong My balance:
            %span#user-balance ?
            %span ETH
          .price
            %strong Total price:
            %span#total-price ?
            %span ETH
          .number-of-nft-selection
            %button#sub-button{data: { action: "click->mint#sub" }} -
            .field.border#set-field
              = text_field_tag 'number-of-nft', 1, {data: { action: "change->mint#set" }, class: 'color-default center-align', id: 'number-of-nft'}
            %button#add-button{data: { action: "click->mint#add" }} +

            #mint-error-message{style: "display: none;"} insufficient funds

      .row.mt-0
        .col.s12.center-align
          %button.large#mint-button{disabled: true, data: { action: "click->mint#mint" }}
            %i.mirrored{style: 'margin-right: 10px;'} auto_awesome
            %span#mint-button-text Mint
            -#blup %span#mint-button-text Whitelist Mint
            %i{style: 'margin-left: 10px;'} auto_awesome

      .row.mt-0#mint-in-progress-message-row{style: "display: none;"}
        .col.s12.center-align
          #mint-in-progress-message-text Minting in progress...

      .row.mt-0#mint-success-message-row{style: "display: none;"}
        .col.s12.center-align
          #mint-success-message-text Mint succeeded!

      .row.mt-0
        .col.s12.center-align
          %span#total-supply ?
          %span /
          %span#max-supply ?

  .row#invalid-network{style: 'display: none;'}
    .col.s12.center-align
      %p Invalid Network! Please change to the Ethereum Mainnet.



  .auction
    -# modal test
    -# with js:
    -#   ui('#auction-modal');
    %button{data: {action: "click->mint#auction_modal_show" }} Auction modal test
    .modal#auction-modal{style: 'border-radius: 12rem;'}
      .modal-content{style: 'position: relative;'}
        -# %h5.center-align Mint succeeded!
        = video_tag 'auction.mp4', id: 'auction-video', width: '100%', height: '100%', controls: false, muted: true, loop: false, tabindex: "-1", autoplay: false
        = image_tag @randomNft&.image_link.to_s, id: 'auction-nft', style: 'border-radius: unset; position: absolute; right: 34.6%; top: 23.2%; width: 28.3%; height: 50%;', alt: 'Random Dead Artist NFT'
      %nav.middle-align
        %button.border{"data-ui": "#auction-modal"} <<
        %button{"data-ui": "#auction-modal", style: 'margin-left: auto;'} >>
