- set_meta_tags description: meta_tag_description('FAQs')
.faq
  .row.title-row#FAQs
    .col.s12.center-align
      %span.faq-text-title= 'FAQs'

  .row.mt-0
    .col.s12.center-align
      = render 'Q&A', question: "What is Dead Artists AI?", answer: 'Dead Artists AI is an art project on the blockchain. It\'s a combination of traditional art with new technology, made to connect art lovers and pave their way to the Web3.<br>We will bring you live events, merch, NFT gated content and more.<br>For constant updates follow us on Twitter and join our Discord'
      .small-divider
      = render 'Q&A', question: "How many Dead Artists NFT can be minted?", answer: 'There are a total of 5000 Dead Artists NFT'
      .small-divider.mt-0
      = render 'Q&A', question: 'How much does a Dead Artists NFT cost?', answer: 'Dead Artists NFT will go on sale to the public for 0.05 ETH.<br>Collectors on allow lists will mint at a discounted rate.<br>The early access list price is 0.045 ETH.<br>Note: All sales will have additional gas fees'
      .small-divider.mt-0
      = render 'Q&A', question: 'How can I buy a Dead Artists NFT?', answer: 'You can buy Dead Artists NFTs with a Web3 wallet, using either crypto or a credit card'
      .small-divider.mt-0
      = render 'Q&A', question: 'How can I create a wallet?', answer: 'A popular wallet is <a href="https://metamask.io/" target="_blank" class="color-default">MetaMask</a>, which can be downloaded as a browser extension or a mobile app. Once downloaded, look for the "Create a new wallet" option, securely save your seed phrase key and set a password. You now have your very first crypto wallet!<br>Note: NEVER share your wallet private keys or seed phrase with anyone.'
      .small-divider.mt-0
      = render 'Q&A', question: 'What is the Dead Artists AI contract address?', answer: 'Coming soon...' #blup
      .small-divider.mt-0
      = render 'Q&A', question: 'Can I sell my NFTs on secondary marketplaces?', answer: 'Yes, you can sell your NFTs on any secondary marketplace that supports such sales, including <a href="https://rarible.com/" target="_blank" class="color-default">Rarible</a> and <a href="https://www.opensea.io/" target="_blank" class="color-default">OpenSea</a>'
      .small-divider.mt-0
      = render 'Q&A', question: 'How often can a painting occur?', answer: 'Each painting of an artist can only occur once as Dead Artists NFT! This also ensures the conservation of value'
      .small-divider.mt-0
      = render 'Q&A', question: 'What intellectual property rights do holders have?', answer: 'Owners of Dead Artists NFT have full commercial art rights for the NFT they own'
      .small-divider.mt-0
      = render 'Q&A', question: 'What are the funds being used for?', answer: '5% of the proceeds will be donated to the UNESCO World Heritage Center, to save World Heritage sites and keep culture alive around the world. The other 95% go to Dead Artists AI holding.<br>This funding will be used to expand our team, launch new products and to create additional value for our community'
      .small-divider.mt-0
      = render 'Q&A', question: 'How are the 5000 Dead Artists NFT distributed?', answer: '3800: Public sale<br>1000: Dead Artists Collector Members<br>200: Dead Artists AI wallet for future airdrops, collaborations, marketing and advisors'
      .small-divider.mt-0
      = render 'Q&A', question: 'What rarity grade can a Dead Artists NFT have?', answer: 'Common<br>Uncommon<br>Rare<br>Epic<br>Legendary'
      .small-divider.mt-0
