.faq
  .row.title-row#FAQs
    .col.s12.center-align
      %span.faq-text-title= 'FAQs'

  .row.mt-0
    .col.s12.center-align
      = render 'Q&A', question: "How many Dead Artists NFT can be minted and what's the price?", answer: 'A maximum of 5000 NFT at a price of 0.02 ETH each'
      .small-divider
      = render 'Q&A', question: 'How often can a painting occur?', answer: 'Each painting of an artist can only occur once as Dead Artists NFT! This also ensures the conservation of value'
      .small-divider.mt-0
      = render 'Q&A', question: 'What intellectual property rights do holders have?', answer: 'Owners of Dead Artists NFT have full commercial art rights for the NFT they own'
      .small-divider.mt-0
      = render 'Q&A', question: 'What are the funds being used for?', answer: '100% of proceeds go directly to Dead Artists AI holding.<br>This funding will be used to expand our team, launch new products and to create additional value for our community'
      -# .small-divider.mt-0
      -# = render 'Q&A', question: 'Do you have a roadmap?', answer: 'Sure, check it out on the Roadmap page using the navigtion'
      .small-divider.mt-0
      = render 'Q&A', question: 'How are the 5000 Dead Artists NFT distributed?', answer: '3800: Public sale<br>1000: Dead Artists Collector Members<br>200: Dead Artists AI wallet for future airdrops, collaborations, marketing and advisors'
      .small-divider.mt-0
      = render 'Q&A', question: 'What rarity grade can a Dead Artists NFT have and how many are there of each?', answer: 'Common<br>Uncommon<br>Rare<br>Epic<br>Legendary' # blup
      .small-divider.mt-0
