-# pc & tablet view:
%nav.left.m.l
  = link_to root_path, class: (@section == 'welcome' ? 'active' : '') do
    = image_tag 'profile_pic_low_quali.webp', class: 'profile-pic-low-quali circle small-margin'
  = link_to home_path, class: (@section == 'home' ? 'active' : '') do
    %i home
    %div= 'Home'
  = link_to faq_path, class: (@section == 'faq' ? 'active' : '') do
    %i question_answer
    %div= 'FAQs'
  = link_to artists_path, class: (@section == 'artists' ? 'active' : '') do
    %i storage
    %div= 'Artists'
  = link_to paintings_path, class: (@section == 'paintings' ? 'active' : '') do
    %i storage
    %div= 'Paintings'
  - if current_user.present?
    = link_to settings_path, class: (@section == 'settings' ? 'active' : ''), style: 'margin-top: auto;' do
      %i settings
      %div= t('settings.title')
  - else
    = link_to session_path(:user), class: (@section == 'login' ? 'active' : ''), style: 'margin-top: auto;' do
      %i input
      %div= t('login')
  .modal.large.left.no-scroll
  .modal.left

-# mobile view:
%nav.bottom.s
  = link_to home_path, class: (@section == 'home' ? 'active' : '') do
    %i home
    %div= 'Home'
  = link_to faq_path, class: (@section == 'faq' ? 'active' : '') do
    %i question_answer
    %div= 'FAQs'
  = link_to artists_path, class: (@section == 'artists' ? 'active' : '') do
    %i storage
    %div= 'Artists'
  = link_to paintings_path, class: (@section == 'paintings' ? 'active' : '') do
    %i storage
    %div= 'Paintings'
  - if current_user.present?
    = link_to settings_path, class: (@section == 'settings' ? 'active' : '') do
      %i settings
      %div= t('settings.title')
  - else
    = link_to session_path(:user), class: (@section == 'login' ? 'active' : ''), style: 'margin-top: auto;' do
      %i input
      %div= t('login')
  .modal.large.left.no-scroll
  .modal.bottom.medium
