!!!
%html
  %head
    - if @section.present?
      %title= "#{@section.capitalize} | Dead Artists AI"
    - else
      %title= "Dead Artists AI"
    =#blup display_meta_tags(default_meta_tags)
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = csp_meta_tag
    -# https://www.beercss.com/
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.css", "data-turbo-track": "reload"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.js", "data-turbo-track": "reload", defer: true
    -# ------------------------
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body.dark
    - if @section == 'welcome'
      .background-image
        = image_tag 'welcome_background.jpg'
      %main.responsive
        = yield
    - else
      .background-image
        - if @section == 'paintings'
          = image_tag 'pl_background.jpg'
        - elsif @section == 'faq'
          = image_tag 'paper_background.jpg'
        - else
          = video_tag 'home_background.mp4', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, height: 'auto', width: '100%'
          #pixel-grid
      = render "/layouts/navigation"
      %main.responsive.main-black
        = yield
        = render '/layouts/footer'
      = render '/layouts/flashes'
