!!!
%html
  %head
    %title DeadArtists AI
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    -# https://www.beercss.com/
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.css", "data-turbo-track": "reload"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.js", "data-turbo-track": "reload", defer: "defer"
    -# ------------------------
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .background-image
      = image_tag 'welcome_background.jpg'

    - if @section != 'welcome'
      = render "/layouts/navigation"

    %main.responsive
      = yield
    = render '/layouts/flashes'
