!!!
%html{lang: I18n.locale.to_s}
  %head
    - if @section.present?
      %title= "#{@section.capitalize} | Dead Artists AI"
    - else
      %title= "Dead Artists AI"
    = display_meta_tags(default_meta_tags)
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = csp_meta_tag
    =#blup render '/layouts/google_analytics'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body.dark
    - showWelcomeOverlay = @section == 'home' && params['overlay'] != 'false'
    - if showWelcomeOverlay
      -# show welcome page on top and load the rest in the back
      #overlay
        .background-image
          = image_tag 'welcome_background.jpg', alt: 'Static background image on the welcome page showing a young man in a gallery'
        %main
          = render '/welcome/index'
    #primary{style: "display: #{showWelcomeOverlay ? 'none' : ''}"}
      .background-image
        -# = video_tag "background.mp4#t=#{rand(5)}", type: 'video/mp4', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, height: 'auto', width: '100%', id: 'background-video', 'data-turbo-permanent': true
        -# #pixel-grid
        = image_tag 'background.jpg', alt: 'Static background image'
      = render "/layouts/navigation"
      %main.responsive.main-black
        = yield
        = render '/layouts/footer'
      = render '/layouts/flashes'
