!!!
%html
  %head
    %title= "#{@section.capitalize} | DeadArtists AI"
    =#blup display_meta_tags(default_meta_tags)
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = csp_meta_tag
    -# https://www.beercss.com/
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.css", "data-turbo-track": "reload"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.js", "data-turbo-track": "reload", defer: "defer"
    -# ------------------------
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    - if @section == 'welcome'
      .background-image
        = image_tag 'welcome_background.jpg'
      %main.responsive
        = yield

    - else
      .background-image
        = video_tag 'home_background.mp4', preload: 'auto', controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, height: 'auto', width: '100%'
      = render "/layouts/navigation"
      %main.responsive.main-home
        = yield
      = render '/layouts/flashes'
