!!!
%html{lang: I18n.locale.to_s}
  %head
    - if @section.present?
      %title= "#{@section.capitalize} | Dead Artists AI"
    - else
      %title= "Dead Artists AI"
    = display_meta_tags(default_meta_tags)
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = csp_meta_tag
    =#blup render '/layouts/google_analytics'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body.dark
    - if @section == 'welcome'
      .background-image
        = image_tag 'welcome_background.jpg'
      %main
        = yield
    - else
      .background-image
        = video_tag "background.mp4#t=#{rand(5)}", controls: false, muted: true, loop: true, tabindex: "-1", autoplay: true, height: 'auto', width: '100%', id: 'background-video', 'data-turbo-permanent': true
        #pixel-grid
      = render "/layouts/navigation"
      %main.responsive.main-black
        = yield
        = render '/layouts/footer'
      = render '/layouts/flashes'
